################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
.egg-info/

.vs/
/flaskr.egg-info
